# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Config & Secrets
config.json
.env

# Backups
backups/
*.tar.gz
*.zip

# Logs
*.log


# Session Data
sessions.json

# Developer & Temporary Scripts
*trans*.py
add_*.py
extract_*.py
find_*.py
fix_*.py
get_*.py
make_*.py
translate*.py
update_*.py
patch_*.py
